/* W3.CSS 2.75 by Jan Egil and Borge Refsnes */
*{
	-webkit-box-sizing:border-box; /* Chrome, Safari, Opera */
	-moz-box-sizing:border-box; /* Firefox */
    box-sizing:border-box; 
}


/*styles for body*/
body{
    background-color: #2D3142;
    background-size: cover;
    color: #000000;
    font-family: Verdana, Arial, sans-serif;
}

/*style for centered images*/

.image-container {
    width: 200px;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    }
  
/*forces old browsers to render html5 correctly*/
header, main, nav, footer, figure, figcaption, aside, section, article{
	display: block;
}

/*styles for header*/
header{
    background-color: #FFFFFF;
    padding: 10px;
}

/*Styles for navigation*/
.topnav {
    position: relative;
    background-color: #FFFFFF;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #2D3142;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #EF8354;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #EF8354;
    color: white;
  }
  
  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
  }

/*styles for main*/
main{
    padding-top: 0%;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: block;
    border-style: solid;
}

p.a{
    background-color: rgba(45, 49, 66, 0.24);
    padding: 10px;
    border-radius: 25px;
    word-break: normal;
    font-family: sans-serif;
    font-size: medium;
}

img.basic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 25px;
}

img.aboutimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 200px;
    border-radius: 25px;
}

main div{
    align-self: center;
    font-size: 90%;
    padding-left: 5%;
    padding-right: 5%;

}

/*heading styles*/
h1 {
    text-align: center;
    height: auto;
    margin:0;
    font-family: sans-serif;
    background-position: center;
    background-repeat: no-repeat;  
}
h2 {
    font-family: sans-serif;
    text-align: center;
}
h3{
    border-style: solid;
    text-transform: uppercase;
}

/*styles for section*/
section{
    margin-left: 20%;
    margin-right: 20%;
    overflow: auto;
    font-size:90%;
}

/*description list*/
dt{
    font-weight: bold;
}

/*table*/
table{
    margin:auto;
    width:80%;
}

td, th{
    padding: 10px;
}

/*styles for footer*/
footer{
    border-style: solid;
    color: #000000;
    font-size: 0.60em;
    font-style: italic;
    text-align: center;
    padding:10px;
}

footer a:link{
    color:rgb(0, 0, 0);
}
footer a:visited{
    color:rgb(255, 77, 0);  
}
footer a:hover{
    color:#EF8354;
}
/* id styles */

#wrapper{
    background-image: linear-gradient(#FFFFFF, #BFC0C0);
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    border-style: solid;
    min-width: 960px;
    max-width: 2048px;
}
#hero{
    height:auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

img{
    max-width: 100%;
    height: auto;
    position: center;
    align-self: center;
    width:100%;
}

/*responsiveness*/

/* style */

/*organization of styles*/
.red{color:#ffffff; background-color:#f44336;}
.green{color:#ffffff; 
    padding:10px;
    border-radius: 25px;
    background-color: rgb(239, 130, 84);
}
.purple{
    color:#000000;
    display: inline-block;
    max-width: 400px;
    padding: 10px;
    word-break: break-all;
}
.indigo{color:#000000;
    background-color: rgba(45, 49, 66, 0.089);
    border-radius: 25px;
}
.blue-grey{color:#ffffff; background-color:#607d8b;}
.blue{color:#ffffff; background-color:#2196F3;}
.pink{color:#ffffff; background-color:#ffffff00;}
.yellow{
    color:#000000; 
    border-style: solid;
    display: inline-block;
    word-break: break-all;
}

/*so text is not on the edge*/
.container{
    padding:1%; 
}

.full{
    position:relative;
    max-width:100%;
    max-height:100%;
}
.half{width:49.99999%;}
.third{width:33.33333%;}
.twothird{width:66.66666%;}
.quarter{width:24.99999%;}
.threequarter{width:74.99999%;}

/*no stack*/
.right{float:right;}
.half, .third, .twothird, .quarter, .threequarter, .pic, .thirdWithMargins{float:left; }


.smallWidth{width: 90px;}/*to have a set width */
.rest{overflow:hidden;}/*keeps the bottom of rest even with small*/

/*Margins */
.marginRight{ margin-right: 1%;}
.marginBoth{	
    margin-right: 1%;
    margin-left: 1%;
}
.marginLeft{margin-left: 1%;}
.thirdWithMargins{width:49%; }
.thirdWithMargins{float:left; }

/*picture padding*/
.row-padding,.row-padding>.pic{padding:0 8px;}
.pic{width:33.33333%;}

.container:after,.row:after, .row-padding:after{content:"";display:table;clear:both;}

nav a { 	
	text-decoration: none;
	transition: color .5s ease-out;
	
}

/* animate image */
main img{
	position: relative;
	transition: 6s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
}

  
  audio { 
    clear: both;
          padding-top: 20px;
    }



img{ 
    position: relative;
    width: 100%;
    height: auto;
    }/*so images respond to size of parent div*/


    
@media (max-width:600px){
	.half{width:100%;}
	.quarter{width:100%;}
	.third{width:100%;}
	.twothird{width:100%;}
	.threequarter{width:100%;}
	.col.s4{width:100%;}
	.thirdWithMargins{width: 100%;margin: 0;}
	.pic{width:100%;}
}

/*tablet size*******************************************************************/
@media only screen and (max-width: 64em){
    body{
        background-color: #2D3142;
        background-image: linear-gradient(#FFFFFF, #BFC0C0);
        background-image: none;
        margin:0;
    }
    #wrapper{
        width:auto;
        min-width: 0;
        box-shadow: none;
    }
    h1{
        margin: 0;
    }
    main{
        margin: 0;
    }
    nav{
        position: relative;
        float: none;
        width: auto;
        padding: 0;
    }
    
}

/*smartphone*/
@media only screen and (max-width: 37.5em){
    .topnav a, .topnav-right {
        float: none;
        display: block;
      }
    
      .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
      }
    main a:link{
        color:#ffffff;
    }
    main a:visited{
        color: #eaeaea;
    }
    main a:hover{
        color: #EF8354;
    }
    section{
        margin: 0;
    }
    section img{
        display:none;
    }
    #hero{
        height:auto;
    }
    #mobile{
        display:inline;
    }
    #desktop{
        display:none;
    }
    
    label{
        float:none;
        text-align:left;
        width:200px;	}

    
    input[type=”submit”]{
        margin-left:0;
    }

}




